<div class="jumbotron jumbotron-top text-center">
  <div class="container">
    <h2>CSV via d3 to angular scope</h2>
    <p>This is an experiment using csv to power the data.  D3 is being used to map the csv to an angular scope.  One noticable thing here, performance lags on the larger csv file.  <a href="#/view1">View1</a> is a small dataset of about 600 rows (olympians with more than 1 medal).  <a href="#/view2">View 2</a> is a much larger file of over 8000 rows.  Notice the difference?
  </div>
</div>
<div ng-view></div>
